*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    height: 10vh;
    width:100%;
    /* background-color: #c71717; */
    margin-top: 30px;
    border-top: 2px  solid #000;
    border-bottom: 2px  solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: anton;
    font-size: 34px;
    letter-spacing: -1px;
    /* background-color: #c717aa; */
}
#nav h2{
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #000;
    font-size: 16px;
    font-weight: 700;
    /* background-color: #c717aa; */
}

#nav h2:nth-last-child(1){
    padding-right: 40px;
    width: 10%;
}

#center{
    height: 90%;
    width: 100%;
    /* background-color: #212121;  */
    padding: 5vw 5vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 60%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
}

#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
    color: #f8f8f8;
}
#over1 h1{
    font-family: anton;
    font-weight: 300;
    font-size: 3vw;
}
#over1 h2{
    font-weight: 300;
    border: 1px solid #f8f8f8;
    border-radius: 50%;
    font-size: 2vw;
    padding: 1vw 1.4vw;
}

#over2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    mix-blend-mode: difference;
    color: #f8f8f8;
    border-top: 2px solid #f8f8f8;
    margin-top: 1.4vw;
    font-size: 1.2vw;
    font-weight: 400;
    padding: 1vw 0;
}

#over2 img{
    height: 4vw;
}

#scroll{
    height: 40%;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll img{
    height: 80%;
    border-radius: 50%;
    width: 16%;
    margin: 2vw;;
    object-fit: cover;
    object-position: top;
    
}

#container{
    /* background-color: #000; */
    height: 100%;
    width: 100%;
    display: inline-block;
    animation-name: scroll; 
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes scroll {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#alphabet{
    margin-top: 5vw;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid #000 ;
    margin: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border-color: #000;
}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#p2p1{
    height: 100%;
    width: 50%;
    background: url(https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?q=80&w=1440&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    background-size: cover;
}
#p2p2{
    height: 100%;
    width: 45%;
}

#p2p2 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    
}